<?xml version="1.0" encoding="UTF-8"?> 
2 
 
3 <!-- config.xml reference: https://build.phonegap.com/docs/config-xml --> 
4 <widget xmlns     = "http://www.w3.org/ns/widgets" 
5         xmlns:gap = "http://phonegap.com/ns/1.0" 
6         id        = "com.VictoryWorship.app" 
7         version   = "1.0.0"> 
8 
 
9     <name>VWC App</name> 
10 
 
11     <description> 
12         Victory Worship Center App 
13     </description> 
14 
 
15     <author href="http://www.vicworship.org" email="webmaster@vicworship.org"> 
16         Wayne Wedge 
17     </author> 
18 
 
19     <!-- 
20         If you do not want any permissions to be added to your app, add the 
21         following tag to your config.xml; you will still have the INTERNET 
22         permission on your app, which PhoneGap requires. 
23     --> 
24     <preference name="permissions"                value="none"/> 
25 
 
26     <!-- Customize your app and platform with the preference element. --> 
27     <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled --> 
28     <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal --> 
29     <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen --> 
30     <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top --> 
31     <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen --> 
32     <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in --> 
33     <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar --> 
34     <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system --> 
35     <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed --> 
36     <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading --> 
37     <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API --> 
38     <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app --> 
39     <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. --> 
40     <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. --> 
41     <!-- 
42         Define a specific version of PhoneGap to build into your app. 
43         <preference name="phonegap-version"       value="3.5.0" /> 
44     --> 
45 
 
46     <!-- Plugins --> 
47 
 
48     <!-- Core plugins --> 
49     <gap:plugin name="org.apache.cordova.battery-status" /> 
50     <gap:plugin name="org.apache.cordova.camera" /> 
51     <gap:plugin name="org.apache.cordova.media-capture" /> 
52     <gap:plugin name="org.apache.cordova.console" /> 
53     <gap:plugin name="org.apache.cordova.contacts" /> 
54     <gap:plugin name="org.apache.cordova.device" /> 
55     <gap:plugin name="org.apache.cordova.device-motion" /> 
56     <gap:plugin name="org.apache.cordova.device-orientation" /> 
57     <gap:plugin name="org.apache.cordova.dialogs" /> 
58     <gap:plugin name="org.apache.cordova.file" /> 
59     <gap:plugin name="org.apache.cordova.file-transfer" /> 
60     <gap:plugin name="org.apache.cordova.geolocation" /> 
61     <gap:plugin name="org.apache.cordova.globalization" /> 
62     <gap:plugin name="org.apache.cordova.inappbrowser" /> 
63     <gap:plugin name="org.apache.cordova.media" /> 
64     <gap:plugin name="org.apache.cordova.network-information" /> 
65     <gap:plugin name="org.apache.cordova.splashscreen" /> 
66     <gap:plugin name="org.apache.cordova.vibration" /> 
67 
 
68     <!-- Third party plugins --> 
69     <!-- A list of available plugins are available at https://build.phonegap.com/plugins --> 
70     <!-- 
71         <gap:plugin name="com.phonegap.plugins.barcodescanner" /> 
72     --> 
73 
 
102 
 
103     <gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />

 
107     <!-- 
108         Define access to external domains. 
109  
110         <access />            - a blank access tag denies access to all external resources. 
111         <access origin="*" /> - a wildcard access tag allows access to all external resource. 
112  
113         Otherwise, you can specify specific domains: 
114     --> 
115     <access origin="*"/> 
116     <!-- 
117         <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/ 
118         <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/ 
119         <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser. 
120     --> 
121 
 
122 </widget> 
